# Pandas Toturial Part 2

On this lesson we will cover the following topics:

* Lambda Functions
* Boolean Indexing
* Reading & Writing data
* DataFrame Manipulation
* Statistics on data

In [ ]:
# we start with the imports as follows:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

# and ipython definition:
%matplotlib inline

In [ ]:
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Lambda Function
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

### Syntax

**lambda** arguments : expression

The expression is executed and the result is returned

In [ ]:
# Add 10 to argument a, and return the result:

x = lambda a : a + 10 # x is a variable holding a function, it is an executable
print(x(5))

In [ ]:
# Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

## Boolean Indexing

In boolean indexing, we will select subsets of data based on the actual values of the data in the DataFrame and not on their row/column labels or integer locations. In boolean indexing, we use a boolean vector to filter the data.

Boolean indexing is a type of indexing which uses actual values of the data in the DataFrame. In boolean indexing, we can filter a data in 2 main ways – 

* Accessing a DataFrame with a boolean index
* Masking data based on column value

**Accessing a DataFrame with a boolean index**

In order to access a dataframe with a boolean index, we have to create a dataframe in which the index of dataframe contains a boolean value that is “True” or “False”. For Example

In [ ]:
data = {'name':["Yair", "Ben", "Shir", "Natan"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
df = pd.DataFrame(data, index = [True, False, True, False])
  
df

In order to access a dataframe with a boolean index using **.loc[]**, we simply pass a boolean value (True or False) in a **.loc[]** function

**.iloc** doesn't work as the Index is not automatically generated

In [ ]:
print(df.loc[True])
print()
print(df.loc[False])

**Masking data based on column value**

In a dataframe we can filter a data based on a column value in order to filter data, we can apply certain conditions on the dataframe using different operators like **==, >, <, <=, >=**. When we apply these operators to the dataframe then it produces a Series of True and False.

In [ ]:
data = {'name':["Yair", "Ben", "Shir", "Natan"],
        'degree': ["BCA", "BCA", "M.Tech", "BCA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe
df = pd.DataFrame(data)

df

In [ ]:
# In order to get the Boolean result
print(df['degree'] == 'BCA')
print()
# In order to actually filter the DataFrame
print(df[df['degree'] == 'BCA'])

In [ ]:
# In order to get the Boolean result
print(df['score'] >= 90)
print()
# In order to actually filter the DataFrame
print(df[df['score'] >= 90])

In order to apply multiple conditions we can use "&" for "and", and "|" for or

In [ ]:
# In order to get the Boolean result
print((df['score'] >= 90) & ((df['degree'] == 'BCA')))
print()
# In order to actually filter the DataFrame
print(df[(df['score'] >= 90) & ((df['degree'] == 'BCA'))])

In [ ]:
# In order to get the Boolean result
print((df['score'] >= 90) | ((df['degree'] == 'BCA')))
print()
# In order to actually filter the DataFrame
print(df[(df['score'] >= 90) | ((df['degree'] == 'BCA'))])

## Exercise 1

1. Filter "**df_a**" based on "Accessing a DataFrame with a boolean index" to get **True** index only
2. Filter "**df_b**" based on "Masking data based on column value" to get **score** **under** **85**
3. Filter "**df_b**" based on "Masking data based on column value" to get **score** **under** **85** **and** **M.Tech** **degree**
3. Filter "**df_b**" based on "Masking data based on column value" to get **score** **euqal and above** **55** **or** **BCA** **degree**

In [ ]:
data_a = {'name':["Yair", "Ben", "Shir", "Natan"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df_a = pd.DataFrame(data_a, index = [True, False, True, False])
  

data_b = {'name':["Yair", "Ben", "Shir", "Natan"],
        'degree': ["BCA", "BCA", "M.Tech", "BCA"],
        'score':[90, 40, 80, 98]}
df_b = pd.DataFrame(data_b)

In [ ]:
# YOUR CODE HERE

## Getting Data In/Out
When handling DataFrames, most of the times we would like to create a DataFrame from existing data saved in some local/remote storage, and after manipulating it - saving it in some local/remote storage

### CSV

**.to_csv()** Write object to a comma-separated values (csv) file.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [ ]:
data = {
    'name': ['Ori', 'Yarin', 'Shir'],
    'grades': [100, 100, 100]
}

df = pd.DataFrame(data)
df.to_csv('/some/local/location/') # change this localtion

**.read_csv()** Read a comma-separated values (csv) file into DataFrame.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
df = df.read_csv('/some/local/location/') # change this localtion
df

In [ ]:
# Sometimes we would like to read a csv from a remote storage, in order to do so we just provide 
# the link the data stored at, instead of a local path

df = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

df

### Excel

**.to_excel()** To write a single object to an Excel .xlsx file it is only necessary to specify a target file name. To write to multiple sheets it is necessary to create an ExcelWriter object with a target file name, and specify a sheet in the file to write to.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

**.read_excel()** Read an Excel file into a pandas DataFrame.

Supports xls, xlsx, xlsm, xlsb, odf, ods and odt file extensions read from a local filesystem or URL. Supports an option to read a single sheet or a list of sheets.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

### HDF5

**.to_hdf()** Write the contained data to an HDF5 file using HDFStore.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_hdf.html

**.read_hdf()** read data from an HDF5 file using HDFStore.

https://pandas.pydata.org/docs/reference/api/pandas.read_hdf.html

## Sorting

### Sorting Index
We use '**sort_index**' in order to sort the DataFrame based on the Index values
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html

In [ ]:
df = pd.DataFrame([10, 2, 35, 14, 25],
                  index=[100, 29, 234, 1, 150],
                  columns=['A'])
df

In [ ]:
df.sort_index()

In [ ]:
# By default, it sorts in ascending order, to sort in descending order, use ascending=False
df.sort_index(ascending=False)

## Sort Values

We use '**sort_values**' in order to sort the DataFrame based on specific **columns** values

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [ ]:
df = pd.DataFrame({
    'name': ['aaron', 'aaron', 'moshe', 'guy', 'ben', 'yarin', 'sharon'],
    'math_grade': [53, 22, 78, 96, 84, 66, 77],
    'CS_grade': [72, 75, 40, 45, 91, 95, 63]
})
df

In [ ]:
# Sort by 'name' column
df.sort_values(by=['name']) # ascending=True

In [ ]:
# Sort by multiple columns
# first and then second

df.sort_values(by=['name', 'math_grade'])

In [ ]:
# Sort Descending

df.sort_values(by='CS_grade', ascending=False)

## Exercise 2 
1. Download and read the csv from "https://media.geeksforgeeks.org/wp-content/uploads/nba.csv"
1. Slice the DataFrame until the **15th** row
1. Sort the DataFrame's **Index** in a **descending** order
1. Sort the DataFrame using "**Number**" column in **ascending** order
1. Sort the DataFrame using "**Name**" and "**Weight**"
1. Save DataFrame to a local location (of your choice)

In [ ]:
# YOUR CODE HERE

## Setting and Editing data

Sometimes we would like to change single value of few values, row or column wise

In [ ]:
data = {
    'day': ['Sunday', 'Monday', 'Tuesday'],
    'liters': [10, 15, 8]
}

df = pd.DataFrame(data)
df

Change full column values

In [ ]:
new_liters_values = pd.Series([12, 55, 8])
df['liters'] = new_liters_values

df

In [ ]:
# Indexes must be allign, otherwise we will get NaNs (np.nan)

new_liters_values = pd.Series([12, 55, 8], index=[0, 2, 10])
df['liters'] = new_liters_values

df

Setting value for a subset of values

In [ ]:
df.loc[[0, 1], 'liters'] = 1 # change the values of first and second rows' liters value to 1
df

Setting value of a specific cell, by position

In [ ]:
df.iloc[-1, 1] = 2 # last row, second column df.loc[-1, 'liters'] = 2
df

Setting values using NumPy Array

In [ ]:
# Reminder: in order to get dimensions of DataFrame - use df.shape -> (rows num, columns num)

df.loc[:, 'liters'] = np.array([42] * df.shape[0])
df

Setting values using a function

In [ ]:
df['liters'] = df['liters'].apply(lambda x: x + 10) # adds 10 to each value in 'liters' column
df

Setting values based on a condition

In [ ]:
data = {
    'day': ['Sunday', 'Monday', 'Tuesday'],
    'liters': [10, 15, 8]
}

df = pd.DataFrame(data)
df

In [ ]:
df_2 = df.copy()
df_2

In [ ]:
df_2[df_2['liters'] % 2 == 0] = 0
df_2

In [ ]:
df_2['liters'][df_2['liters'] % 2 == 0] = 0
df_2

## Exercise 3

1. Download and read the csv from "https://media.geeksforgeeks.org/wp-content/uploads/nba.csv"
1. Slice the DataFrame until the **15th** row
1. Change **all** values in '**Height**' column to **180**
1. Change the value of the **first and second** players' '**Number**' to **100**
1. Change the '**Age**' of players playing in '**Position**' '**PF**' to **50**
1. Increase the "**Salary**" of all players by **10** using **df.apply(lambda function)**

In [ ]:
# YOUR CODE HERE

## Mathmatical and Statistical Operations

Just like on plain Python Objects and NumPy Arrays, pandas support variety of mathmatical and statistical operations on Series and DataFrames

In [ ]:
s = pd.Series([10, 20, -10])
s

In [ ]:
data = {
    'a': [10, 15, 20],
    'b': [3, 9, -16],
    'c': [-1, -10, -7]
}

df = pd.DataFrame(data)
df

In [ ]:
# Absolute values

print(s.abs())
print()
print(df.abs())

In [ ]:
# Add a scalar with operator version which return the same results.

print(df + 1)
print(df.add(1))
print()

print(df.add([1, 2, 3])) # print(df.add([1, 2, 3], axis=1))
print(df.add([1, 2, 3], axis=0))

In [ ]:
# Subtract a list and Series by axis with operator version.

print(df - 1)
print(df.sub(1))
print()

print(df.sub([1, 2, 3])) # print(df.sub([1, 2, 3], axis=1))
print(df.sub([1, 2, 3], axis=0))

In [ ]:
# Multiply a DataFrame of different shape with operator version.

print(df * 2)
print(df.mul(2))
print(df.mul(2, fill_value=0)) # in case of NaN values in the DataFrame
print()

print(df.mul([1, 2, 3])) # print(df.mul([1, 2, 3], axis=1))
print(df.mul([1, 2, 3], axis=0))

In [ ]:
# Divide by constant

print(df / 2)
print(df.div(2))
print(df.div(2, fill_value=0)) # in case of NaN values in the DataFrame
print()

print(df.div([1, 2, 3])) # print(df.div([1, 2, 3], axis=1))
print(df.div([1, 2, 3], axis=0))

In [ ]:
# Calculate exponential power.

print(df ** 2)
print(df.pow(2))
print(df.pow(2, fill_value=0)) # in case of NaN values in the DataFrame
print()

print(df.pow([1, 2, 3])) # print(df.pow([1, 2, 3], axis=1))
print(df.pow([1, 2, 3], axis=0))

In [ ]:
# Calculate any root.
# df.pow(1 / N)

# Squared root
print(df.pow(1 / 2))
# Cubic root
print(df.pow(1 / 3))

In [ ]:
# Sum

print(s.sum())
print()

print(df.sum()) # df.sum(axis=0)
print()
print(df.sum(axis=1))

In [ ]:
# calculate variation
# Normalized by N-1 by default. This can be changed using the ddof argument
# The divisor used in calculations is N - ddof, where N represents the number of elements.

print(df.var())
print(df.var(ddof=0))

In [ ]:
# calculate standard deviation
# Normalized by N-1 by default. This can be changed using the ddof argument
# The divisor used in calculations is N - ddof, where N represents the number of elements.

print(df.std())
print(df.std(ddof=0))

In [ ]:
# Return the minimum of the values over the requested axis.
print(df.min())
print(df.min(axis=1))
print()

# Return the index of the minimum of the values over the requested axis.
print(df.idxmin())
print(df.idxmin(axis=1))

In [ ]:
# Return the maximum of the values over the requested axis.
print(df.max())
print(df.max(axis=1))
print()

# Return the index of the maximum of the values over the requested axis.
print(df.idxmax())
print(df.idxmax(axis=1))

In [ ]:
# Operations between Series and DataFrames

In [ ]:
s

In [ ]:
df

In [ ]:
# Series-Series operation

s.mul(s)

In [ ]:
# Series-DataFrame operation

df.mul(s, axis=0)

In [ ]:
# DataFrame-DataFrame operation

df.mul(df)

## Merge Dataframes

### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

**pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)**

Concatenating pandas objects together with concat():

In [ ]:
data_1 = {
    'name': ['Yair', 'Moshe'],
    'grade': [100, 100]
}

data_2 = {
    'name': ['Ben', 'Shir'],
    'grade': [85, 94]
}

df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)

print(df_1)
print(df_2)

In [ ]:
# Combine 2 DataFrames

pd.concat([df_1, df_2])

In [ ]:
# Clear the existing index and reset it in the result by setting the ignore_index option to True.

pd.concat([df_1, df_2], ignore_index=True)

### Merge
SQL style merges. See the [Database style joining](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

**DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)**

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

print(df1)
print()
print(df2)

Merge df1 and df2 on the lkey and rkey columns. The value columns have the default suffixes, _x and _y, appended.

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey')

Merge DataFrames df1 and df2 with specified left and right suffixes appended to any overlapping columns.

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey',
          suffixes=('_left', '_right'))

### Append

Append rows to a dataframe.

http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation

**DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)**

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

In [ ]:
s = df.iloc[3]
s

In [ ]:
df.append(s, ignore_index=True)

General note: **Append** function will add rows of second data frame to first dataframe **iteratively** one by one. **Concat** function will do a **single** operation to finish the job, which makes it **faster** than append()

* **Concat** gives the flexibility to join based on the axis( all rows or all columns)
* **Append** is the specific case(axis=0, join='outer') of concat

### Statstics on the data

https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html

In [ ]:
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
df

Describe shows a quick statistic summary of your data

In [ ]:
df.describe()

Performing a descriptive statistic

In [ ]:
df.mean()

Same operation on the rows axis

In [ ]:
df.mean(axis=1)